@charset "UTF-8";
.title{
	margin-top :14%;
	margin-left : 23%;
	color : navy;
	font-weight: bold;
	font-size: 50px
}


.title:hover{
	cursor:pointer;
}


.container1{
	justify-content: space-between;
}

#main-menu,
#sub-menu{
	margin:0;
	padding:0;
	list-style-type:none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: #3E3E3E;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu >li{
	float:left;
	border:1px solid red;
}

#main-menu > li > a {
  font-size: 0.85rem;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
	border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  margin-left:20px;
}


#sub-menu {
  position: absolute;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
  width:144px;
  z-index: 3;
}

#sub-menu > li {
	padding: 16px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    text-align: left;
}



#sub-menu > li > a {
	color: black;
	text-decoration:none;
	font-size: 12px;
}

#main-menu > li:hover #sub-menu{
	opacity : 1;
	visibility: visible;
}

#aaa{
	height: 400px;
	background-color: yellow;
}

#bbb{
	height: 200px;
	background-color: blue;
}
#ccc{
	height:300px;
	background-color: green;
}
#ddd{
	height:200px;
	background-color: black;
}
#eee{
	margin-top: 10px;
}

.login {
    margin-top: 100px;
}
#div1{
	background-color:#3E3E3E;
	height:100px;
	width:130px;
	z-index: 0;
	padding:17px;
}
#div2{
	background-color:#1A806F;
	height:100px;
	width:130px;
	z-index: 0;
	padding:17px;
}
#a1{
	color:white;
	font-weight: 3;
	font-size: 18px;
	text-align: center;
	font-family: sans-serif;

	margin-top:20px;
}

#a1:link{
	color:white;
}
#a1:visited{
	color:white;
}