@charset "UTF-8";

#login-form{

         width:400px;

         margin:100px auto;

         border: 1px solid gray;

         border-radius: 5px;

         padding: 15px;



}



/* inline이였던 요소들을 block으로 바꿈 */

#login-form input, #login-form label{

         display:block;
         width:300px;
         border-radius: 10px;

}


#login-form label{

         margin-top: 10px;

}



#login-form input{

         margin-top: 5px;

}



/* 애트리뷰트 선택자 */

#login-form input[type='image']{

         margin: 10px auto;

}